@model CompanyVm
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    <link href="~/styles/DriverDetails.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
}
<div class="container emp-profile border border-dark bg-light">
    <form method="post" asp-controller="Company" asp-action="UploadImg" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    @{
                        if (Model.Image != null)
                        {
                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Image)" alt="Profilbild" width="200" height="150" />
                        }
                    }
                    <div class="file btn btn-lg btn-primary">
                        Välj fil
                        <input type="file" asp-for="UpImg.Img" class="btn"><br />
                    </div>
                    <div class="btn btn-lg btn-dark">
                        <input type="submit" class="btn" value="Ladda Upp   " />
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="profile-head">
                    <h5>
                        @Model.CompanyName
                    </h5>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Presentation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Mer info</a>
                        </li>
                    </ul>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                                <div class="col-md-12">
                                    <label>
                                        @Model.Description
                                    </label>

                                </div>
                            </div>

                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Företag</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.CompanyName</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Gatuadress</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.StreetAdress</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Postnummer</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.ZipCode</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Postort</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.City</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Tel. nr.</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.PhoneNumber</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>E-mail</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.Email</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <a class="btn btn-dark" asp-action="Update" asp-controller="Company">Uppdatera profil</a>
            </div>
        </div>
    </form>





</div>




=======
﻿@model CompanyVm
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    <link href="~/styles/DriverDetails.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
}
<div class="container emp-profile">
    <form method="post" asp-controller="Company" asp-action="UploadImg" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    @{
                        if (Model.Image != null)
                        {
                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Image)" alt="Profilbild" width="200" height="150" />
                        }
                    }
                    <div class="file btn btn-lg btn-primary">
                        Välj fil
                        <input type="file" asp-for="UpImg.Img" class="btn"><br />
                    </div>
                    <div class="btn btn-lg btn-dark">
                        <input type="submit" class="btn" value="Ladda Upp   " />
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="profile-head">
                    <h5>
                        @Model.CompanyName
                    </h5>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Presentation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Mer info</a>
                        </li>
                    </ul>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                                <div class="col-md-12">
                                    <label>
                                        @Model.Description
                                    </label>

                                </div>
                            </div>

                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Företag</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.CompanyName</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Gatuadress</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.StreetAdress</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Postnummer</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.ZipCode</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Postort</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.City</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Tel. nr.</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.PhoneNumber</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>E-mail</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.Email</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <a class="btn btn-dark" asp-action="Update" asp-controller="Company">Uppdatera profil</a>
            </div>
        </div>
    </form>





</div>




>>>>>>> ba9faf4cdfc595f80f215f41a9db320c82e14b1e
