@model LeveransAkuten.Models.ViewModels.Ads.DetailsAdsVm

@{
    ViewData["Title"] = "AdDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AdDetails</h1>

<div>

    <form asp-action="TakeIt"  asp-controller="Driver" asp-route-id="@Model.Id" method="post"><input  disabled ="@Model.Booked" type="submit" value="Take It" /></form>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Header)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Header)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Arequired)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Arequired)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brequired)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brequired)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Crequired)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Crequired)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Drequired)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drequired)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cerequired)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cerequired)
        </dd>
    </dl>
</div>
<div>
  
    <a asp-action="Index">Back to List</a>
</div>
