@model DriverVm
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <link href="~/styles/DriverDetails.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
}

<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="@Model.ImageUrl" alt="Profilbild" width="200" height="150" />
                    <div class="file btn btn-lg btn-primary">
                        Ladda upp ny bild
                        <input type="file" name="file" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        @Model.UserName
                    </h5>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Presentation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Personlig info</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                @Html.ActionLink("Uppdatera profil", "UpdateDriver", "Driver", new { name = Model.UserName })
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Uppdatera profil" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>Körkortsbehörighet</p>
                    @{
                        if (Model.A)
                        {
                            <span>A</span><br />
                        }
                        if (Model.B)
                        {
                            <span>B</span><br />
                        }
                        if (Model.C)
                        {
                            <span>C</span><br />
                        }
                        if (Model.CE)
                        {
                            <span>CE</span><br />
                        }
                        if (Model.D)
                        {
                            <span>D</span>
                        }
                    }
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>
                                    @Model.Description
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Förnamn</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.FirstName</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Efternamn</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.LastName</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Gatuadress</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.StreetAdress</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Postnummer</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.ZipCode</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Postort</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.City</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Tel. nr.</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.PhoneNumber</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>E-mail</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.Email</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

