@model DriverIndexVm
<div class="container">
  <br/>
  <!-- Page Heading -->
  <section>
    <h4 class="my-4">
      Inloggad som: <a asp-action="Details" asp-controller="Driver">@User.Identity.Name</a>
</h4>
  </section>

  <main>

    @if (Model?.AdsNotStarted != null)
    {
      <br />
      <hr />
      <br />
      <div>
        @if (Model?.AdsNotStarted.Count != 0)
        {
          <h3>
            Dina kommande ärenden:
          </h3>
        }
        else
        {
          <h3>
            Du har inga kommande uppdrag just nu
          </h3>
        }
      </div>
      <br />
      <br />
      <div class="row">
        @foreach (var ad in Model?.AdsNotStarted)
        {
          @if (ad.DriverId != null)
          {

            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item m-3">

              <div class="card h-100 ">
                @if (ad.Image != null)
                {
                  <a href="#"><img class="card-img-top" src="data:image/jpeg;base64,@Convert.ToBase64String(ad.Image)" width="200" height="150" /></a>

                }
                else
                {
                  <a href="#"><img class="card-img-top" src="~/Img/profile.jpg" width="200" height="150" /></a>
                }
                <div class="card-body ">

                  <a asp-action="AdDetails" asp-route-id="@ad.Id" asp-controller="Driver">
                    <h4 class="card-title">
                      @ad.Header
                    </h4>
                  </a>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Från</th>
                        <th scope="col">Till</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>@ad.Start.Day/@ad.Start.Month</td>
                        <td>@ad.End.Value.Day/@ad.End.Value.Month</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <br />
            <br />
            <br />

          }
        }
      </div>
    }
    else
    {
      <p>Det finns inga kommande uppdrag just nu</p>
    }

    <hr />


  </main>
</div>
<!-- /.container -->